APP_NAME=quyca
APP_VERSION=0.0.1
APP_PORT=8010
APP_DOMAIN=localhost:8010
APP_DEBUG=True

APP_URL_PREFIX=/app
API_URL_PREFIX=/api

MONGO_SERVER=localhost
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=kahi
MONGO_PORT=27017
MONGO_CALCULATIONS_DATABASE=kahi_calculations

#ElasticSearch
ES_SERVER=http://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=mypass
ES_PERSON_COMPLETER_INDEX=kahi_person
ES_INSTITUTION_COMPLETER_INDEX=kahi_institution
ES_GROUP_COMPLETER_INDEX=kahi_group
ES_DEPARTMENT_COMPLETER_INDEX=kahi_department
ES_FACULTY_COMPLETER_INDEX=kahi_faculty

SENTRY_DSN=
